.navbar .navbar-nav .nav-link {
    color: #27c208ef;
    font-size: 1.1em;
    
}
.nav{
  background-color: #ebe6ea;
  margin-top: -1px;
  margin-bottom: 1px ;
  border-bottom: 1px outset rgba(194, 178, 178, 0.356);
}
 
.contenido{
  padding-bottom:5px;
  padding-top: 180px;
}
header{
  width: 100%;
  position: fixed;
  z-index: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar .navbar-nav .nav-link:hover{
    color: #096AA3;
    font-weight: 500;
}

#check{
  display: none;

}

@media only screen and (min-width: 992px) {
  .navbar {
    flex-direction: column;
  }

 
  .navbar .button.nav-item {
    padding: 0.1em 0.1em;

  }
}
.navbar .navbar-nav {
  border-width: 10px;
  border-bottom: 1.5px solid #000;
  margin-top: -0.2em;
  border-top: 1.5px solid #000;
  background-color: rgb(255, 255, 255);

}

.titulo p{

    position: center;
    font-size:50px;
    font-family: 'Lobster Two', cursive;
    padding-top: 30px;
    color:black;
    border-bottom:50px;
    border-top: 550px;
    color: rgb(34, 31, 31);
}
.img-titulo{
  display: flex;
  justify-content: left;
  align-items: left;
  width: 100%;
  height: 0px;
  margin-right: 1000px;
}

.logo {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: -50px;
  margin-right: 0px;
}


/*IMAGEN DIRECTIVOS*/
:root{
    --border-color: linear-gradient(to right, rgb(255, 255, 255) 0%,rgb(255, 255, 255) 100%) ;
    --card-color: #222;
    text-align: center;
    font-weight: 300px;
    
}
.img-directivos{
    background: var(--border-color);
    width: 100px;
    height: 100px;
    padding: 0px;
    border-radius: 200%;
    position: relative;
    margin-left: 10px;
    font-family:'Times New Roman', Times, serif;
    
}
.img-directivos h6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    
}
.profile-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container-directivos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    gap: 70px;
    border-bottom: 30;
    font-family: cursive;
}
h5{
    font-size: 1.5rem !important;
    font-family: 'Lobster Two', cursive;
}
/*h1{
    font-size: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    -webkit-text-stroke: 1px black;
}*/

/*RESPONSIVE*/
@media(max-width: 768px){

   /* HEADER */
  .mostrar-menu,
  .esconder-menu{
  display: block;
 }

 .menu{
  position:fixed;
  width: 100%;
  height: 100vh;
  background-color: #096AA3;
  right: -100%;
  top:0;
  text-align: center;
  padding: 100px opx;
  z-index: 100;
  transition: 0.8s;
}

.menu a{
  display: block;
  padding: 20px;
}

.esconder-menu{
  position:absolute;
  top: 40px;

}

#check:checked  .menu{
  right:0;
}


}
